﻿@model ConsumindoAPI_Web.Models.ProdutoViewModel

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhe</h2>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CdCategoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CdCategoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "btn btn-secondary btn-lg" })
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-primary" })
</p>
