﻿@model ConsumindoAPI_Web.Models.ProdutoViewModel

@{
    ViewBag.Title = "Editar Produto";
}

<h2>
    Editar
</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Produto</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CdCategoria, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                     <select name="Cdcategoria" class = "form-control">
                    <option value="1">Alimento</option>
                    <option value="2">Bebida</option>
                    <option value="3">Outros</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar", "Index", null, htmlAttributes: new { @class = "btn btn-secondary btn-lg" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
