﻿@model IEnumerable<ConsumindoAPI_Web.Models.ProdutoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Listagem de Produtos</h2>

<p>
    @Html.ActionLink("Cadastrar produto", "Create", null, new { @class = "btn btn-success" }  )
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CdCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CdCategoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preco)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "btn btn-primary" }) 
            @Html.ActionLink("Detalhes", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) 
            @Html.ActionLink("Deletar", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" } )
        </td>
    </tr>
}

</table>
