﻿@model ConsumindoAPI_Web.Models.Usuarios
@{
    ViewBag.Title = "Login";
}
<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken() 
    @Html.ValidationSummary(true)
    if (@ViewBag.Message != null)
    {
        <div style="border:1px solid red">
            @ViewBag.Message
        </div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(x => x.email, new { @class = "control-label" })</td>
            <td>@Html.TextBoxFor(x => x.email, new { @class = "form-control" })</td>
            <td>@Html.ValidationMessageFor(x => x.email)</td>
        </tr>
        <tr>
            <td> @Html.LabelFor(x => x.senha, new { @class = "control-label" })</td>
            <td> @Html.PasswordFor(x => x.senha, new { @class = "form-control" }) </td>
            <td> @Html.ValidationMessageFor(x => x.senha) </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Login" class="btn btn-default"  />
            </td>
            <td></td>
        </tr>
    </table>
}
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}